{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/homee.css">
<link rel="stylesheet" type="text/css" href="static/css/homenotif2.css">
<link rel="stylesheet" href="static/css/slide.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


<style>
    @media only screen and (max-width: 1039px){
        .notif-container {
            display: none;
        }
        .outermost-container {
            flex-direction: column-reverse;
            justify-content: center;
            padding: 0px;
            margin: 0px;
            align-content: center;
            text-align: center;
        }
        .feed-container{
            width: 80vw;
            max-width: 80vw;
        }
        .feed-box{
            width: 80vw;
            max-width: 80vw;   
        }
        .outer-slide-container{
            width: 80vw;
            max-width: 80vw;
        }
    }
    @media only screen and (max-width: 500px) {
        .outermost-container{
            background-color: transparent;
        }
        .feed-container {
            width: 100vw;
            max-width: 100vw;
        }

        .feed-box {
            width: 100vw;
            max-width: 100vw;
        }

        .outer-slide-container {
            width: 100vw;
            max-width: 100vw;
            padding: 1vw;
        }

        .feed-container {
            border: 0px;
        }

        .nofeed {
            height: 50vh;
        }
    }
</style>
<!--Profile box-->
<!--Navbar-->

<nav class="navbar navbar-expand-lg nav-color" style="position: sticky;top: 0;z-index: 2;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/user/{{user.username}}">
            <img class="home-self-img" src="{{user.profile.profile_pic.url}}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons white" style="font-size: 40px;">list</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                        <b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">
                        Profile</a>
                </li>
                <a class="nav-link active" aria-current="page" href="/notifications">
                    Notifications</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Requests
                    </a>
                    <ul class="dropdown-menu nav-color" aria-labelledby="navbarDropdown">
                        {% if follow_req_notifications %}
                        {% for n in follow_req_notifications %}
                        <li class="dropdown-item" style="background-color: black;">
                            <a href="/user/{{n.notifier.username}}">{{n.notifier.username}} requested to follow you</a>
                            <a href="/req_accept/{{n.notifier.id}}?path={{request.path}}"><button
                                    class="btn btn-light bg-light btn-sm">Accept</button></a>
                            <a href="/req_delete/{{n.notifier.id}}?path={{request.path}}"><button
                                    class="btn btn-danger btn-sm">Delete</button></a>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li><a class="dropdown-item" href="#">No requests</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="/post">
                        New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
            <form class="d-flex" action="/home_search" method="POST">
                {% csrf_token %}
                {% for msg in messages %}
                <p style="color: white;">{{msg}}</p>
                {% endfor %}
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light bg-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<nav class="nav-color nav-footer">
    <a href="/"><i class="bi bi-house-door house-icon"></i></a>
</nav>
<!--footer-->


<!--Navbar end-->


<div class="outermost-container">
    <div class="feed-container">
        {% if feed_list %}
        <div>
            {% for feed in feed_list %}
            <div class="feed-box">
                <div class="feed-box-header">
                    <div class="post-user-img-div">
                        <a href="/user/{{feed.post.user.username}}">
                            <img src="{{feed.post.user.profile.profile_pic.url}}" alt="images/default_user.png"
                                class="post-user-img">
                        </a>
                    </div>
                    <div class="edit_username">
                        <div class="username_time">
                            <div>
                                <a href="/user/{{feed.post.user.username}}">
                                    <h4>{{feed.post.user.username}}<h4>
                                </a>
                                <h6>{{feed.post.display_time}},{{feed.post.display_date}}</h6>
                            </div>
                        </div>
                        <!--
                        <div class="edit" id="js-id">
                            <a href="/edit/{{feed.post.id}}">
                                <i class="bi bi-pencil-fill"></i>
                                Edit
                            </a>
                        </div>
                        -->
                    </div>
                </div>
                {% if feed.post.isavideo %}
                <div class="post-div">
                    <video src="{{feed.post.pic.url}}" controls class="post-img"></video>
                </div>
                {% else %}
                <div class="post-div">
                    <a href="/user/{{feed.post.user.username}}/{{feed.post.id}}">
                        <img src="{{feed.post.pic.url}}" alt="" class="post-img">
                    </a>
                </div>
                {% endif %}
                {% if feed.post.caption %}
                <div class="feed-box-caption">
                    <h6>{{feed.post.caption}}</h6>
                </div>
                {% else %}
                <div class="feed-box-caption">
                </div>
                {% endif %}
                <div class="feed-box-footer">
                    <div class="like_comment">
                        <div>
                            <h6><span class="likeCount" id="likeCount"
                                    data-likecountid="{{feed.post.id}}">{{feed.post.no_likes}}</span>
                                like{{feed.post.no_likes.pluralize}}
                            </h6>
                            <h6><span id="commentCount">{{feed.post.no_comments}}</span>
                                comment{{feed.post.no_comments.pluralize}}</h6>
                        </div>


                        <div id="likebtn" class="box" data-username="{{feed.post.user.username}}"
                            data-postid="{{feed.post.id}}" data-likeid="{{feed.post.id}}">
                            {% if user in feed.post.likes %}
                            <i id="likeicon" class="bi bi-heart-fill"></i>
                            {% else %}
                            <i id="likeicon" class="bi bi-heart"></i>
                            {% endif %}
                        </div>
                        <!--
                        <i class="bi bi-heart"></i>
                        <i class="bi bi-heart-fill unliked"></i>
                        -->
                        <a href="/user/{{feed.post.user.username}}/{{feed.post.id}}">
                            <button class="btn btn-primary but">Comment</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}
        <div class="nofeed">
            <div>
                <span style="font-size: 1.3rem;">Start following people</span>
                <br>
                <span><i class="bi bi-emoji-smile" style="font-size: 4rem;"></i></span>
            </div>
        </div>
        {% endif %}
    </div>
    <!--Feed Ends-->

    <div style="margin-top: 0px;">
        <div class="outer-slide-container">
            <div class="slide-title"><i>Suggestions for you</i></div>
            <div class="slide-container">
                {% if randomuser1 %}
                <div class="slide-container-half first">
                    <div id="slide1">
                        <a href="/user/{{randomuser1.username}}">
                            <div class="slide-user">
                                <div class="slide-img-container">
                                    <img class="slide-img" src="{{randomuser1.profile.profile_pic.url}}" alt="">
                                </div>
                                <div class="details">
                                    <strong>{{randomuser1.profile.name}}</strong>
                                    <br>
                                    <span id="slide1username"
                                        data-userid="{{randomuser1.id}}">{{randomuser1.username}}</span>
                                    {% if randomuser1.profile.bio %}
                                    <br>
                                    <i>{{randomuser1.profile.display_bio}}</i>
                                    {% else %}
                                    <br>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% else %}
                {% endif %}

                {% if randomuser2 %}
                <div class="slide-container-half second">
                    <div id="slide2">
                        <a href="/user/{{randomuser2.username}}">
                            <div class="slide-user">
                                <div class="slide-img-container">
                                    <img class="slide-img" src="{{randomuser2.profile.profile_pic.url}}" alt="">
                                </div>
                                <div class="details">
                                    <strong>{{randomuser2.profile.name}}</strong>
                                    <br>
                                    <span id="slide2username"
                                        data-userid="{{randomuser2.id}}">{{randomuser2.username}}</span>
                                    <br>
                                    <i>{{randomuser2.profile.display_bio}}</i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% else %}
                {% endif %}
                {% if randomuser1 %}
                <div class="slide-buttons">
                    <button id="followone" class="slidebtn followone">Follow</button>
                    <button id="requestone" class="slidebtn requestone">Request</button>
                </div>
                {% endif %}
                {% if randomuser2 %}
                <div class="slide-buttons">
                    <button id="followtwo" class="slidebtn followtwo">Follow</button>
                    <button id="requesttwo" class="slidebtn requesttwo">Request</button>
                </div>
                {% endif %}
                <div class="next-buttons">
                    <i id="nextone" class="bi bi-x nexticon"></i>
                </div>
                <div class="next-buttons">
                    <i id="nexttwo" class="bi bi-x nexticon"></i>
                </div>
            </div>
        </div>


        <div class="notif-container">
            <ul class="list-group full-width">
                {% for i in notifications %}
                <li class="list-group-item center li-body">
                    <div class="toast-header notibody">
                        <div style="display: flex;flex-direction: row;">
                            <div class="notifier-img-container">
                                <a href="/user/{{i.notifier.username}}">
                                    <img src="{{i.notifier.profile.profile_pic.url}}" class="notifier-img"
                                        style="object-fit: cover;background-position: center;border-radius: 50%;"
                                        alt="...">
                                </a>
                            </div>
                            <div>
                                <div class="message">
                                    <a href="/user/{{i.notifier.username}}">
                                        <strong>{{i.notifier.username}}</strong>
                                    </a>
                                    <span style="word-break :keep-all;">{{i.notification_message}}</span>
                                </div>
                                <div>
                                    <small class="text-muted ml-2 mr-2" style="font-size:0.8rem">{{i.display_time}}
                                        ,{{i.display_date}}</small>
                                </div>
                            </div>
                        </div>
                        {% if i.post.pic %}
                        {% if i.post.isavideo %}
                        <div class="notif-img-container">
                            <a href="/user/{{i.notifier.username}}/{{i.post.id}}">
                                <video class="notif-img" src="{{i.post.pic.url}}"></video>
                            </a>
                        </div>
                        {% else %}
                        <div class="notif-img-container">
                            <a href="/user/{{i.notifier.username}}/{{i.post.id}}">
                                <img class="notif-img" src="{{i.post.pic.url}}">
                            </a>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
<script>
    var cw = $('.post-div').width()
    var cw2 = cw + 20
    $('.post-div').css({ 'max-height': cw2 + 'px' })
    $('.post-img').css({ 'max-height': cw + 'px' })
    var xw = $('.post-div').width()
    var zw = $('.feed-box').width()

    //$('.slide-container').css({ 'width': $('.feed-container').width() + 'px' })
    var w1 = $('.slide-img-container').width()
    //$('.slide-img-container').css({ 'height': w1 + 'px' })
    var f1 = parseInt(w1) * 0.25
    //$('.slide-img-container').css({'height':$('.slide-img-container').width()})
    $('.first').css({ 'font-size': f1 + 'px' })
    $('.second').css({ 'font-size': f1 + 'px' })
    $('.slide-title').css({ 'font-size': f1 * 1.4 + 'px' })
    $('.slide-buttons').css({ 'font-size': f1 + 'px' })

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}";</script>
<script type="text/javascript" src="static/js/home.js"></script>



{% endblock %}