{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}


<style>
    .notif-container {
        display: flex;
        width: 500px;
    }

    .full-width {
        width: 100%;
        display: flex;
    }

    .notibody {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        transition: 0.1s ease;
    }
    .notibody:hover{
        background-color: rgb(29,29,29);
        color: #f3f3f3;
        opacity: 1;
    }
    .notibody:hover strong{
        color: white;
    }

    .message {
        word-break: break-all;
        padding-left: 2vmin;
        padding-right: 2vmin;
        font-size: 1rem;
    }

    .notifier-img-container {
        width: 50px;
        height: 50px;
    }

    .notifier-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

    .post-img-container {
        width: 50px;
        height: 50px;
    }

    .post-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

</style>

<link rel="stylesheet" type="text/css" href="{% static 'css/notif.css' %}">

<nav class="navbar navbar-expand-lg nav-color sticky" style="position: sticky;top: 0;z-index: 1;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="home-self-img" src="{{user.profile.profile_pic.url}}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons white" style="font-size: 40px;">list</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">
                        Profile</a>
                </li>
                <a class="nav-link active" aria-current="page" href="/notifications">
                    <b>Notifications</b></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Requests
                    </a>
                    <ul class="dropdown-menu nav-color" aria-labelledby="navbarDropdown">
                        {% if follow_req_notifications %}
                        {% for n in follow_req_notifications %}
                        <li class="dropdown-item" style="background-color: black;">
                            <a href="/user/{{n.notifier.username}}">{{n.notifier.username}} requested to follow you</a>
                            <a href="/req_accept/{{n.notifier.id}}?path={{request.path}}"><button
                                    class="btn btn-light bg-light btn-sm">Accept</button></a>
                            <a href="/req_delete/{{n.notifier.id}}?path={{request.path}}"><button
                                    class="btn btn-danger btn-sm">Delete</button></a>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li><a class="dropdown-item" href="#">No requests</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="/post">
                        New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" action="/home_search" method="POST">
                {% csrf_token %}
                {% for msg in messages %}
                <p style="color: white;">{{msg}}</p>
                {% endfor %}
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light bg-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<div class="outermost-container">
    <div class="notif-container">
        <ul class="list-group full-width">
            {% for i in notifications %}
            <li class="list-group-item center li-body">
                <div class="toast-header notibody">
                    <div style="display: flex;flex-direction: row;">
                        <div class="notifier-img-container">
                            <a href="/user/{{i.notifier.username}}">
                                <img src="{{i.notifier.profile.profile_pic.url}}" class="notifier-img"
                                    style="object-fit: cover;background-position: center;border-radius: 50%;" alt="...">
                            </a>
                        </div>
                        <div>
                            <div class="message">
                                <a href="/user/{{i.notifier.username}}">
                                    <strong>{{i.notifier.username}}</strong>
                                </a>
                                <span style="word-break :keep-all;">{{i.notification_message}}</span>
                            </div>
                            <div>
                                <small class="text-muted ml-2 mr-2" style="font-size:0.8rem">{{i.display_time}}
                                    ,{{i.display_date}}</small>
                            </div>
                        </div>
                    </div>
                    {% if i.post.pic %}
                    {% if i.post.isavideo %}
                    <div class="post-img-container">
                        <a href="/user/{{i.notifier.username}}/{{i.post.id}}">
                            <video class="post-img" src="{{i.post.pic.url}}"></video>
                        </a>
                    </div>
                    {% else %}
                    <div class="post-img-container">
                        <a href="/user/{{i.notifier.username}}/{{i.post.id}}">
                            <img class="post-img" src="{{i.post.pic.url}}">
                        </a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}