{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home2.css' %}">


<style>

</style>

<nav class="navbar navbar-expand-lg nav-color sticky" style="position: sticky;top: 0;z-index: 1;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/user/{{user.username}}">
            <img class="home-self-img" src="{{user.profile.profile_pic.url}}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons white" style="font-size: 40px;">list</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">
                        <b>Profile</b></a>
                </li>
                <a class="nav-link active" aria-current="page" href="/notifications">
                    Notifications</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Requests
                    </a>
                    <ul class="dropdown-menu nav-color" aria-labelledby="navbarDropdown">
                        {% if follow_req_notifications %}
                        {% for n in follow_req_notifications %}
                        <li class="dropdown-item" style="background-color: black;">
                            <a href="/user/{{n.notifier.username}}">{{n.notifier.username}} requested to follow you</a>
                            <a href="/req_accept/{{n.notifier.id}}?path={{request.path}}"><button
                                    class="btn btn-light bg-light btn-sm">Accept</button></a>
                            <a href="/req_delete/{{n.notifier.id}}?path={{request.path}}"><button
                                    class="btn btn-danger btn-sm">Delete</button></a>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li><a class="dropdown-item" href="#">No requests</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="/post">
                        New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" action="/home_search" method="POST">
                {% csrf_token %}
                {% for msg in messages %}
                <p style="color: white;">{{msg}}</p>
                {% endfor %}
                <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light bg-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>




<div class="outermost-container">

<div class="container bg-white" style="max-width:500px;">
    <div>
    <h1>Profile</h1>
    
    <form method='POST' action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{form.age.id_for_label}}">Age</label>
            {{form.age|add_class:'form-control'}}
        </div>
        <div class="mb-3">
            <label for="{{form.profile_pic.id_for_label}}">Profile Pic</label>
            <br>
            {{form.profile_pic|add_class:'form-control'}}
            <a href="/profile/delete"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
        </div>

        <br>
        <input type="submit" class="btn btn-primary btn-lg" value="save">
    </form>
</div>
    <br>

</div>
</div>
{% endblock %}