{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<style>
    .center {
        text-align: center;
    }

    #square {
        height: 50vw;
        width: 50vw;
    }

    #squarediv {
        width: 300px;
        height: 300px;
    }

    img {
        object-fit: cover;
    }

    .dp-container {
        width: 20vmin;
        height: 20vmin;
    }

    .dp {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 50%;
    }

    .buttons {
        height: fit-content;
        width: fit-content;
    }

    .mybtn {
        width: 20vmin;
        max-width: 6rem;
        font-size: 1rem;
        background-color: #f8f9fa;
        color: black;
    }

    .username {
        font-size: 1.7rem;
    }

    @media only screen and (max-width: 460px) {
        .mybtn {
            font-size: 3.5vmin;
        }

        .username {
            font-size: 5vmin;
        }
    }

    body {
        overflow-x: hidden;
    }

    .header {
        background-color: rgb(29, 29, 29);
        color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
</style>
<div class="row py-0 px-4">
    <div class="col-md-7 mx-auto" style="padding: 0px;">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-4 pb-4 header">
                <div class="dp-container">
                    <img class="dp" src="{{user.profile.profile_pic.url}}" alt="..." id="border">
                </div>
                <div>
                    <div class="media-body text-white">
                        <h3 class="username">{{user.username.capitalize}}</h4>
                    </div>
                    <div class="buttons">
                        <div>
                            <a href="/follow/{{user.id}}?path={{request.path}}"
                                class="btn btn-outline-dark mybtn">Follow</a>
                            {% if requested %}
                            <a href="/cancel_req/{{user.id}}?path={{request.path}}"
                                class="btn btn-outline-dark mybtn">Cancel</a>
                            {% else %}
                            <a href="/follow_req/{{user.id}}?path={{request.path}}"
                                class="btn btn-outline-dark mybtn">Request</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="bg-light p-4 d-flex justify-content-end text-center">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <h5 class="font-weight-bold mb-0 d-block">0</h5><small class="text-muted">Posts</small>
                </li>
                <li class="list-inline-item">
                    <h5 class="font-weight-bold mb-0 d-block">{{user.profile.followers_count}}</h5><small
                        class="text-muted">Followers</small>
                </li>
                <li class="list-inline-item">
                    <h5 class="font-weight-bold mb-0 d-block">{{user.profile.following_count}}</h5><small
                        class="text-muted">Following</small>
                </li>
            </ul>
        </div>
        <!--
        <div class="px-4 py-3">
            <h5 class="mb-0">About</h5>
            <div class="p-4 rounded shadow-sm bg-light">
                <p class="font-italic mb-0">Transponster</p>
                <p class="font-italic mb-0">Lives in New York</p>
            </div>
        </div>
    -->
        <div class="container py-5 pl-5 pl-5" style="text-align: center;">
            <h3 class="center">This account is private</h3>
            <!--<span class="material-icons" style="font-size: 44px;float: none;">lock</span>-->
            <ion-icon style="font-size: 12vmin;" name="lock-closed"></ion-icon>
        </div>
        <br>
    </div>
</div>
</div>

{% endblock %}