{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<style>
    .center {
        text-align: center;
    }

    #square {
        height: 50vw;
        width: 50vw;
    }

    #squarediv {
        width: 300px;
        height: 300px;
    }

    img {
        object-fit: cover;
    }

    .dp-container {
        width: 20vmin;
        height: 20vmin;
    }

    .dp {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 50%;
    }

    .buttons {
        height: fit-content;
        width: fit-content;
    }

    .mybtn {
        width: 20vmin;
        max-width: 6rem;
        font-size: 1rem;
        background-color: #f8f9fa;
        color: black;

    }

    .username {
        font-size: 1.7rem;
    }

    @media only screen and (max-width: 460px) {
        .mybtn {
            font-size: 3.5vmin;
        }

        .username {
            font-size: 5vmin;
        }
    }

    body {
        overflow-x: hidden;
    }

    .header {
        background-color: rgb(29, 29, 29);
        color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .selected {
        padding: 1vmin 2vmin 1vmin 2vmin;
        border-bottom: 0.7vmin solid rgb(29, 29, 29);
    }

    .video-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-container::after {
        content: "";
        width: 20%;
        height: 20%;
        position: absolute;
        background-image: url(/media/playicon.png);
        background-position: center;
        background-size: cover;
        opacity: 0.7;
        z-index: 1;
    }
</style>
<div class="row py-0 px-4">
    <div class="col-md-7 mx-auto" style="padding: 0px;">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-4 pb-4 header">
                <div class="dp-container">
                    <img class="dp" src="{{user.profile.profile_pic.url}}" alt="..." id="border">
                </div>
                <div>
                    <div class="media-body text-white">
                        <h3 class="username">{{user.username.capitalize}}</h4>
                    </div>
                    <div class="buttons">
                        {% if yourProfile %}
                        <a href="/profile/" class="btn btn-outline-dark mybtn"><span>Profile</span></a>

                        {% else %}
                        <div>
                            <a href="/unfollow/{{user.id}}?path={{request.path}}"
                                class="btn btn-outline-dark mybtn">Unfollow</a>
                            <a href="#" class="btn btn-outline-dark mybtn"><span>Message</span></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">0</h5><small class="text-muted">
                            Posts</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{user.profile.followers_count}}</h5><small
                            class="text-muted">Followers</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{user.profile.following_count}}</h5><small
                            class="text-muted">Following</small>
                    </li>
                </ul>
            </div>
            <!--
            <div class="px-4 py-3">
                <h5 class="mb-0">About</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">Transponster</p>
                    <p class="font-italic mb-0">Lives in New York</p>
                </div>
            </div>
        -->
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-around mb-3">
                    <h5 id="photos" class="selected" style="cursor:pointer">Photos</h5>
                    <h5 id="videos" style="cursor:pointer">Videos</h5>
                </div>
                <div class="row pr-2 pl-2" id="allPhotos" style="display: flex;">
                    {% for u in all_posts %}
                    {% if u.isavideo %}
                    {% else %}
                    <div class="col-lg-6 pl-lg-3 pr-lg-3 mb-3 mt-3">
                        <a href="{{user.username}}/{{u.id}}">
                            <img id="post-img" style="height:100%;width: 100%;" src="{{u.pic.url}}" alt=""
                                class="img-fluid shadow-sm post-img">
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row pr-2 pl-2" id="allVideos" style="display: none;">
                    {% for u in all_posts %}
                    {% if u.isavideo %}
                    <div class="col-lg-6 pl-lg-3 pr-lg-3 mb-3 mt-3">
                        <a href="{{user.username}}/{{u.id}}">
                            <div class="video-container">
                                <video style="width: 100%;" src="{{u.pic.url}}" alt=""
                                    class="img-fluid shadow-sm post-video"></video>
                            </div>
                        </a>
                    </div>
                    {% else %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var w = $('.post-video').width()
    var w2 = $('.post-img').width()
    $('.post-video').css({ 'max-height': w2 + 'px' })

    $('.post-img').css({ 'height': w2 + 'px' })
    var photos = document.getElementById('photos');
    var videos = document.getElementById('videos');
    photos.addEventListener('click', function () {
        document.getElementById('allPhotos').style['display'] = 'flex';
        document.getElementById('allVideos').style['display'] = 'none';
        document.querySelectorAll('.selected').forEach(part => {
            part.classList.remove('selected')
        })
        photos.classList.add('selected')
    })
    videos.addEventListener('click', function () {
        document.getElementById('allPhotos').style['display'] = 'none';
        document.getElementById('allVideos').style['display'] = 'flex';
        document.querySelectorAll('.selected').forEach(part => {
            part.classList.remove('selected')
        })
        videos.classList.add('selected')
    })


    $('#unfollow').click(function (e) {
        e.preventDefault();
        console.log('unfollow')
        var userid = $(this).data('user_id');
        console.log(userid)
        var prev_url = $(this).data('prev_url');
        console.log(prev_url)
        $.ajax({
            url: '/unfollow/'+userid,
            data: {
                path: prev_url
            },
            method: 'GET',
            success: function () {
                console.log('')
            }
        })
    })

</script>
{% endblock %}


<!--
    <div class="col-lg-6 pl-lg-3 pr-lg-3 mb-3 mt-3"><img style="height: 100%;width: 100%;"
        src="https://www.pinkvilla.com/files/styles/gallery-section/public/friends_5_times_courteney_cox_aka_monica_and_matthew_perry_aka_chandler_proved_that_love_is_friendship_mainimage.jpg?itok=-lxvWETI"
        alt="" class="img-fluid shadow-sm"></div>
<div class="col-lg-6 pl-lg-3 pr-lg-3 mb-3 mt-3"><img
        src="https://pyxis.nymag.com/v1/imgs/92f/127/2ea20dc451fed3becbf46c8de3e567c2a7-21-friends.rsquare.w1200.jpg"
        alt="" class="img-fluid shadow-sm"></div>
<div class="col-lg-6 pl-lg-3 pr-lg-3 mb-3 mt-3"><img
        src="https://pyxis.nymag.com/v1/imgs/7b8/293/c01025df7559d43ad3ef939ec23f02eee8-30-friends-gossip-tk.rsquare.w1200.jpg"
        alt="" class="img-fluid shadow-sm"></div>

-->