{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    .mybtn {
        background-color: crimson;
        color: white;
    }

    #color {
        color: crimson;
    }

    .loginbtn {
        background-color: crimson;
        color: white;
        border-radius: 2vmin;
        transition: .2s ease;
    }

    .loginbtn:hover {
        opacity: 0.7;
        color: white;
    }

    .login-container {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to bottom, rgb(51, 51, 51), black);
        font-family: 'Source Sans Pro', sans-serif;
    }

    .inner-login-container {
        border: 2px solid white;
        border-radius: 3vmin;
        width: 90vmin;
    }

    /*
    .inner-login-container:after{
        content: "";
        border: 2px solid white;   
        border-radius: 2vmin;
        position: absolute;
        width:100%;
        height: 100%;
        bottom: 5vmin;
        left: 5vmin;
        z-index: -10;
    }
    */

    .login-title {
        color: white;
    }

    .input {
        color: white;
        background-color: black;
    }

    .form-control {
        color: white;
        background-color: transparent;
        border: 1px solid white;
    }

</style>


    <div class="login-container">
        <div class="inner-login-container col-md-5 mx-auto">
            <div id="first">
                <div class="myform form" style="background-color: transparent;">
                    <div class="logo mb-3" style="background-color: transparent;">
                        <br>
                        <div class="col-md-12 text-center">
                            <h1 class="login-title">Login</h1>
                        </div>
                        <p style="text-align: center;">
                            {% for msg in messages %}
                            {{msg}}
                            {% endfor %}
                        </p>
                    </div>
                    <form action="" method="POST" style="color: white;">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        {{form.errors}}
                        <br>
                        <div class="col-md-12 text-center ">
                            <button type="submit" class=" btn btn-block loginbtn tx-tfm">Login</button>
                        </div>
                        <br>

                        <div class="form-group">
                            <p class="text-center" style="color: white;">Don't have account? <a
                                    href="{% url 'register' %}" id="color">Sign up
                                    here</a>
                            </p>
                        </div>
                        <br>
                    </form>

                </div>
            </div>
        </div>
    </div>



<!---
        <label for="{{form.username.id_for_label}}">Username</label>
        {{form.username|add_class:'form-control'}}
        <label for="exampleInputEmail1">Password</label>
        <input type="password" name="password" id="password" class="form-control"
        aria-describedby="emailHelp" placeholder="Enter Password">
    
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Enter Username';
        form_fields[2].placeholder = 'Enter password';

        for (var field in form_fields) {
            form_fields[field].className += ' form-control'
        }
    </script>
    --->
{% endblock %}