
.center {
    display: flex;
    align-items: center;
    position: relative;
}

.noti-post-img-div {
    position: absolute;
    right: 10px;
    width: fit-content;
    height: fit-content;
}

.noti-post-img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    background-position: center;
}
.notif-img-container{
    width: 50px;
    height: 50px;
}
.notif-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}


.notif-container {
    display: flex;
    width: 90vmin;
}

.full-width {
    width: 100%;
    display: flex;
}

.notibody {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    transition: 0.1s ease;
}
.notibody:hover{
    background-color: rgb(29,29,29);
    color: #f3f3f3;
    opacity: 1;
}
.notibody:hover strong{
    color: white;
}

.message {
    word-break: break-all;
    padding-left: 2vmin;
    padding-right: 2vmin;
    font-size: 1rem;
}

.notifier-img-container {
    width: 50px;
    height: 50px;
}

.notifier-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

